@model ENTIDAD.ACTIVIDADCE

@{
    ViewBag.Title = "Actividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actividad</h2>
<form action="@Url.Action("Editar", "Actividad")" method="post" id="frmActividad">
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Editar Actividad</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdActividad)

        <div class="form-group">
            <label for="NombreActividad" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input type="text" value="@Model.NombreActividad" id="NombreActividad" name="NombreActividad" placeholder="Ingrese Nombre de Actividad" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="IdTipo" class="control-label col-md-2">Grupo de Actividad</label>
            <div class="col-md-10">
                <select class="form-control" id="IdTipo" name="IdTipo">
                    <option value="">Seleccionar...</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="IdFormato" class="control-label col-md-2">Formato/Guía</label>
            <div class="col-md-10">
                <select class="form-control" id="IdFormato" name="IdFormato">
                    <option value="">Sin Formato</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-danger" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Actividad")"><i class="glyphicon glyphicon-menu-left"></i>Volver</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
        ObtenerTipoActividad(function(result){
            $("#IdTipo").val(@Model.IdTipo);
        });
        ObtenerFormato(function (result) {
            if(@Model.IdFormato == 0)
                $("#IdFormato").val("");
            else
                $("#IdFormato").val(@Model.IdFormato);
        });


    $("#frmActividad").submit(function (event) {
        event.preventDefault(); //evitar la acción predeterminada para que la pagina no se sobrecargue
        //VALIDACIONES EN EL CLIENTE   //
        var nombre = $("#NombreActividad").val();
        var tipo = $("#IdTipo").val();

        if ($.trim(nombre) == "") {
            alert("Ingrese Nombre de Actividad");
            return;
        }
        if (tipo == "") {
            alert("Selecciones un grupo de Actividades");
            return;
        }

        var post_url = $(this).attr("action"); //action url del formulario
        var request_method = $(this).attr("method"); //método GET/POST del formulario
        var form_data = $(this).serializeArray(); //Codificando elementos de formulario para su envío
        console.log(form_data);
        LoadingOverlayShow("#frmActividad"); /* MOSTRAR estado de carga   */
        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data
        }).done(function (response) { //
            console.log(response);
            LoadingOverlayHide("#frmActividad"); /*   OCULTAR estado de carga   */
            if (response.ok) {
                alert("Actividad modificada correctamente.");
                window.location = response.toRedirect;
            }
            else {
                alert(response.msg);
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            LoadingOverlayHide("#frmActividad"); /*   OCULTAR estado de carga   */
        });
    });

</script>
}