@model ENTIDAD.FORMATO
@{
    ViewBag.Title = "Formato";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Formato</h2>
<form action="@Url.Action("Crear", "Formato")" method="post" id="frmFormato" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear Nuevo Formato</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <label class="alert-danger">@ViewBag.Message</label>

        <div class="form-group">
            <label for="ArchivoFormato" class="control-label col-md-2">Archivo</label>
            <div class="col-md-10">
                <input type="file" id="ArchivoFormato" name="ArchivoFormato" class="form-control" accept=".pdf" title="Seleccionar Archivo PDF" />
            </div>
        </div>
        <div class="form-group">
            <label for="Descripcion" class="control-label col-md-2">Descripción</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="Descripcion" name="Descripcion" placeholder="...Opcional" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="btn" value="Crear" class="btn btn-primary" disabled />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Formato")"><i class="glyphicon glyphicon-menu-left"></i>Volver</a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function habilitar() {
            upfile = document.getElementById("ArchivoFormato").value;
            //txt = document.getElementById("Descripcion").value;
            //if (txt == "" || upfile == "") {
            if (upfile == "") {
                document.getElementById("btn").disabled = true;
            } else {
                document.getElementById("btn").disabled = false;
            }
        }
        document.getElementById("ArchivoFormato").addEventListener("change", habilitar);
            //document.getElementById("Descripcion").addEventListener("keyup", habilitar);
    </script>
}