@model ENTIDAD.SEDE

@{
    ViewBag.Title = "UN/SEM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>UN/SEM</h2>
<form action="@Url.Action("Crear", "SEDE")" method="post" id="frmSEDE">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Crear Nueva UN/SEM</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="NombreSEDE" class="control-label col-md-2">Nombre</label>
            <div class="col-md-10">
                <input type="text" class="form-control" id="NombreSEDE" name="NombreSEDE" placeholder="Ingrese Nombre de UN/SEM" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a class="btn btn-default" href="@Url.Action("Index", "SEDE")"><i class="glyphicon glyphicon-menu-left"></i>Volver</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#frmSEDE").submit(function (event) {
            event.preventDefault(); 
            var nombre = $("#NombreSEDE").val();
            if ($.trim(nombre) == "") {
                alert("Ingrese Nombre de UN/SEM");
                return;
            }

            var post_url = $(this).attr("action"); //action url del formulario
            var request_method = $(this).attr("method"); //método GET/POST del formulario
            var form_data = $(this).serializeArray(); //Codificando elementos de formulario para su envío
            console.log(form_data);
            LoadingOverlayShow("#frmSEDE"); /* MOSTRAR estado de carga   */
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                console.log(response);
                LoadingOverlayHide("#frmSEDE"); /*   OCULTAR estado de carga   */
                if (response.ok) {
                    alert("UN/SEM creada correctamente.");
                    window.location = response.toRedirect;
                }
                else {
                    alert(response.msg);
                }
            }).fail(function (jqXHR, textStatus, errorThrown) {
                LoadingOverlayHide("#frmSEDE");
            });
        });

    </script>
}
