@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <h1>PASSTMA</h1>
    <div class="col-md-5" style="padding-left:0">
        <p class="lead">Programación Anual de Seguridad, Salud en el Trabajo y Medio Ambiente.</p>
    </div><br /><br /><br /><br /><br /><br />
    <div class="col-md-12 text-center" style="padding-left:0">
        <p><a href="@Url.Action("Index", "Sem_Actividad")" class="btn btn-primary btn-lg">Ver Actividades Programadas &raquo;</a></p>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row" hidden>
    <div class="col-md-3">
        <h3>SE/Gerencias</h3>
        <p>
            Unidades de Negocio como el conjunto de SEMs que la componen. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "UUNN")">Ir &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Jefaturas</h3>
        <p>
            Servicios Eléctricos liderados por un Responsable. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "SEM")">Ir &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Usuarios</h3>
        <p>
            Usuarios y Responsables de Jefaturas encargados de Ejecutar las Asignaciones programadas. Lorem ipsum dolor sit,  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Responsable")">Ir &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h3>Actividades</h3>
        <p>
            Relación de Actividades asignables a cualquier SEM. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Actividad")">Ir &raquo;</a></p>
    </div>
</div>